body {
    background-color: #ddd;
    font-family: "Helvetica Neue", Helvetica;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #ddd;
    color: #555;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    text-align: center;
    margin: 5px;
    padding: 10px;
}

h2 {
    color: #555;
}

/* -------------------------------- */
/* nav */

.navbar {
    background-color: #555;
}

.navbar a {
    color: lightgray;
}

/* -------------------------------- */
/* abas */

.tabs section {
    display: none;
}

section.tabActive {
    display: block;
}

/* -------------------------------- */
/* main */

main {
    background-color: white;
    margin: 0 auto;
    padding: 10px 40px 40px;
    border-radius: 0px;
    border: 2px solid lightgray;
    width: 60%;
}

@media (max-width: 600px) {
    main {
        width: 95%;
        padding: 10px 10px 40px;
    }
}

/* -------------------------------- */
/* formulario */

form div {
    margin-bottom: 20px;
}

form input {
    width: 100%;
    margin: 10px 0 5px 0;
    padding: 10px 10px;
    box-sizing: border-box;

    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
}

form span {
    color: firebrick;
}

form button {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 10px 10px;
    box-sizing: border-box;

    border: 1px solid lightgray;
    border-radius: 2px;
}

form textarea {
    font-family: "Helvetica Neue", Helvetica;

    width: 100%;
    margin: 10px 0 5px 0;
    padding: 5px 0;
    
    resize: vertical;

    border: 1px solid lightgray;
    border-radius: 2px;
    outline: none;
}

/* -------------------------------- */