body {
    background-color: #ddd;
    font-family: "Helvetica Neue", Helvetica;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

header {
    background-color: #ddd;
    color: #555;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    text-align: center;
    margin: 5px;
    padding: 10px;
}

nav {
    background-color: #555;
    text-align: center;
    margin: 0;
    padding: 7px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: lightgray;
}

main {
    background-color: white;
    margin: 0 auto;
    padding: 20px 40px 50px 40px;
    border-radius: 0px;
    border: 2px solid lightgray;
    width: 60%;
}

@media (max-width: 600px) {
    main {
        width: 95%;
    }
}

h2 {
    color: #555;
}

input {
    width: fit-content;
    margin: 10px 0 20px 0;
    padding: 10px 10px;
    box-sizing: border-box;

    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
}

button {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 10px 10px;
    box-sizing: border-box;

    border: 1px solid lightgray;
    border-radius: 2px;
}

fieldset {
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}

textarea {
    border: 1px solid lightgray;
    box-sizing: border-box;
}

input:invalid + span::after {
    content: '✖';
    color: red;
}

input:valid + span::after {
    content: '✓';
    color: limegreen;
}