body {
    background-color: lightgray;
}

main {
    font-family: "Helvetica Neue", Helvetica;
    font-size: large;
    color: black;

    background-color: white;
    max-width: 500px;
    margin: 0;
    padding: 40px;

    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 20px gray;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    border: 1px solid lightyellow;
    width: 100%;
    word-break: break-all;

    padding: 5px;
}

input {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 10px 10px;
    box-sizing: border-box;

    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
}

button {
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;

    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
}

p {
    visibility: hidden;

    padding: 5px 10px;
    margin: 0 auto;

    border: 3px solid gold;
    border-radius: 2px;
    text-align: center;
    width: fit-content;
    
}